In [1]:
import numpy as np
import pandas as pd

In [2]:
true=pd.read_excel("true.xlsx")
fake=pd.read_excel("fake.xlsx")

In [3]:
true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,2017-12-30
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,2017-12-29
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,2017-08-22
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,2017-08-22
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,2017-08-22
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,2017-08-22
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,2017-08-22

In [4]:
fake

,title,text,subject,date,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171
0,Donald Trump Sends Out Embarrassing New Yearâ...,Donald Trump just couldn t wish all Americans ...,News,2017-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,2017-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,2017-12-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,Trump Is So Obsessed He Even Has Obamaâ€™s Na...,"On Christmas day, Donald Trump announced that ...",News,2017-12-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,2017-12-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,2016-01-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,2016-01-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
23499,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan ...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,2016-01-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,2016-01-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,2016-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [5]:
fake.drop(fake.columns[[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171]], axis=1, inplace=True)

In [6]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Yearâ...,Donald Trump just couldn t wish all Americans ...,News,2017-12-31 00:00:00
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,2017-12-31 00:00:00
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,2017-12-30 00:00:00
3,Trump Is So Obsessed He Even Has Obamaâ€™s Na...,"On Christmas day, Donald Trump announced that ...",News,2017-12-29 00:00:00
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,2017-12-25 00:00:00
...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,2016-01-16 00:00:00
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,2016-01-16 00:00:00
23499,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan ...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,2016-01-15 00:00:00
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,2016-01-14 00:00:00
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,2016-01-12 00:00:00

In [7]:
true['label']=0
fake['label']=1

In [8]:
true

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,2017-12-30,0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,2017-12-29,0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,2017-08-22,0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,2017-08-22,0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,2017-08-22,0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,2017-08-22,0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,2017-08-22,0

In [9]:
fake

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Yearâ...,Donald Trump just couldn t wish all Americans ...,News,2017-12-31 00:00:00,1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,2017-12-31 00:00:00,1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,2017-12-30 00:00:00,1
3,Trump Is So Obsessed He Even Has Obamaâ€™s Na...,"On Christmas day, Donald Trump announced that ...",News,2017-12-29 00:00:00,1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,2017-12-25 00:00:00,1
...,...,...,...,...,...
23497,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,2016-01-16 00:00:00,1
23498,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,2016-01-16 00:00:00,1
23499,Sunnistan: US and Allied â€˜Safe Zoneâ€™ Plan ...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,2016-01-15 00:00:00,1
23500,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,2016-01-14 00:00:00,1
23501,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,2016-01-12 00:00:00,1

In [10]:
dataset1=true[['text', 'label']] # we only need these two columns to determine fake or true news

In [11]:
dataset2=fake[['text', 'label']]

In [12]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [13]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23497  21st Century Wire says As 21WIRE reported earl...      1
23498  21st Century Wire says It s a familiar theme. ...      1
23499  Patrick Henningsen  21st Century WireRemember ...      1
23500  21st Century Wire says Al Jazeera America will...      1
23501  21st Century Wire says As 21WIRE predicted in ...      1

[23502 rows x 2 columns]

In [14]:
dataset=pd.concat([dataset1, dataset2])

In [15]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23497  21st Century Wire says As 21WIRE reported earl...      1
23498  21st Century Wire says It s a familiar theme. ...      1
23499  Patrick Henningsen  21st Century WireRemember ...      1
23500  21st Century Wire says Al Jazeera America will...      1
23501  21st Century Wire says As 21WIRE predicted in ...      1

[44919 rows x 2 columns]

In [16]:
dataset.shape

(44919, 2)

In [17]:
dataset.isnull().sum() #check for null values so we're good to go

text     0
label    0
dtype: int64

In [18]:
dataset['label'].value_counts()

label
1    23502
0    21417
Name: count, dtype: int64

In [19]:
dataset=dataset.sample(frac=1) #shuffling the data so there isn't biasing towards 0 or 1 values

In [20]:
dataset

                                                    text  label
7671   KRASNAYA POLYANA, Russia (Reuters) - President...      0
16382  WASHINGTON   The House and Senate Wednesday vo...      1
22088  21st Century Wire says Several people have bee...      1
14078  If anyone wonders how the  Reverend  Al Sharpt...      1
21417  Meanwhile, most Americans can t afford to take...      1
...                                                  ...    ...
5062   WASHINGTON (Reuters) - There is no reason to b...      0
11307  ISTANBUL (Reuters) - Turkish prosecutors said ...      0
19964  LONDON (Reuters) - British police arrested a s...      0
15501  SEOUL (Reuters) - South Korea will immediately...      0
3827   WASHINGTON (Reuters) - Deputy Attorney General...      0

[44919 rows x 2 columns]

# NLP

In [21]:
import nltk #cleaning and preprocessing data
import re #re works on fuzzy logic, used to clean data
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [22]:
ps=WordNetLemmatizer()

In [23]:

  >>> import nltk
  >>> nltk.download('stopwords')
stopwords=stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\amren\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [24]:

  >>> import nltk
  >>> nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\amren\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\amren\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [26]:
def clean_row(row):
    row=row.lower()
    row=re.sub('[^a-zA-Z]', ' ', row) #this reject code is used to remove special characters from the data
    token=row.split()
    news=[ps.lemmatize(word) for word in token if not word in stopwords]
    cleaned_news=' '.join(news)
    return cleaned_news 
#we remove stopwords like 'a', 'the' as they don't really mean anything, we remove them using lemmatizer

In [28]:
dataset['text']=dataset['text'].str.lower()#.apply(lambda x: clean_row(x))

In [62]:
dataset['text']

7671     krasnaya polyana, russia (reuters) - president...
16382    washington   the house and senate wednesday vo...
22088    21st century wire says several people have bee...
14078    if anyone wonders how the  reverend  al sharpt...
21417    meanwhile, most americans can t afford to take...
                               ...
5062     washington (reuters) - there is no reason to b...
11307    istanbul (reuters) - turkish prosecutors said ...
19964    london (reuters) - british police arrested a s...
15501    seoul (reuters) - south korea will immediately...
3827     washington (reuters) - deputy attorney general...
Name: text, Length: 44919, dtype: object

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [64]:
vectorizer= TfidfVectorizer(max_features=50000, lowercase=False, ngram_range=(1,2))

In [65]:
x=dataset.iloc[:35000, 0]
y=dataset.iloc[:35000, 1]

In [66]:
x

7671     krasnaya polyana, russia (reuters) - president...
16382    washington   the house and senate wednesday vo...
22088    21st century wire says several people have bee...
14078    if anyone wonders how the  reverend  al sharpt...
21417    meanwhile, most americans can t afford to take...
                               ...
10913    before trump, democrats and their allies in th...
4676     today s a somber day of remembrance for the li...
2778     paris (reuters) - president donald trump held ...
16834    wish we could clone this guy   we love daniel ...
5388     washington (reuters) - a crisis over the relat...
Name: text, Length: 35000, dtype: object

In [67]:
y

7671     0
16382    1
22088    1
14078    1
21417    1
        ..
10913    1
4676     1
2778     0
16834    1
5388     0
Name: label, Length: 35000, dtype: int64

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
train_data, test_data, train_label, test_label=train_test_split(x, y, test_size=0.2, random_state=0)

In [37]:
vec_train_data=vectorizer.fit_transform(train_data)

In [38]:
vec_train_data=vec_train_data.toarray()

In [39]:
vec_test_data=vectorizer.fit_transform(test_data)

In [40]:
vec_test_data=vec_test_data.toarray()

In [41]:
vec_train_data.shape, vec_test_data.shape

((28000, 50000), (7000, 50000))

In [70]:
vec_train_data

array([[0.        , 0.        , 0.04458065, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [71]:
training_data=pd.DataFrame(vec_train_data, columns=vectorizer.get_feature_names_out())
testing_data=pd.DataFrame(vec_test_data, columns=vectorizer.get_feature_names_out())

NotFittedError: Vocabulary not fitted or provided

In [ ]:
train_data

# Naive Bayes

In [72]:
from sklearn.naive_bayes import MultinomialNB

In [73]:
clf=MultinomialNB()

In [74]:
train_label

20119    1
21325    1
15059    1
21771    1
3915     0
        ..
9928     0
6719     0
18423    1
9139     0
10608    1
Name: label, Length: 28000, dtype: int64

In [75]:
clf.fit(train_data, train_label)

ValueError: could not convert string to float: 'remember the criticism george w. bush received for not doing enough for residents of louisiana after the horrible floods caused by hurricane katrina? could you imagine the feeding frenzy by the media would have had if bush declared a state of emergency and then went golfing? the media s double standard for our organizer in chief compared to the criticism of gw bush is beyond the pale president barack obama declared louisiana was in a state of disaster on sunday after a historic flood left at least five people dead, with emergency crews working to rescue thousands more. governor john bel edwards said more than 10,000 people are now in shelters and more than 20,000 people have been rescued across south louisiana.more than a foot of rain fell overnight on friday   in a deluge estimated to occur once every 500 years, according to the pacific standard.in shocking photos showing the devastation, caskets that had washed up from a graveyard floated down the street in denham springs, louisiana.four people have been reported dead, said devin george, the state registrar for vital records, earlier sunday.a woman s body was later recovered by divers from inside a flooded vehicle in east baton rouge parish, appearing to raise the death toll to five.witnesses said the woman was seen saturday night attempting to turn around in high water when her vehicle was swept away, said casey rayborn hicks, a spokeswoman for the sheriff s office.in one dramatic rescue saturday, two men on a boat pulled a woman from a car that was almost completely underwater, according to video by wafb.watch video of dramatic rescue here.the woman, who s not initially visible on camera, yells from inside the car:  oh my god, i m drowning. one of the rescuers, david phung, jumped into the brown water and pulled the woman to safety.obama issued the disaster declaration after speaking with edwards, making federal aid available in the parishes of east baton rouge, livingston, st. helena and tangipahoa, hit hardest by the floods.edwards said in a statement that other parishes could be added to the list.emergency officials still were working on strategies to rescue an undetermined number of people trapped by the waters. we re very much still in the search and rescue mode,  said james waskcom, director of the state s office of homeland security and emergency preparedness.in livingston parish, phone service was spotty due to the high waters and most shelters were full. via: daily mail '

In [ ]:


y_pred=clf.predict(testing_data)

In [59]:
test_label

6939     0
16651    1
16323    0
472      1
3855     1
        ..
8319     0
767      0
7988     0
18857    1
19010    0
Name: label, Length: 7000, dtype: int64

In [60]:
y_pred

NameError: name 'y_pred' is not defined

In [61]:
from sklearn.metrics import accuracy_score

In [62]:
accuracy_score(test_label, y_pred)

NameError: name 'y_pred' is not defined

In [63]:
y_pred_train=clf.predict(training_data)

NameError: name 'training_data' is not defined

In [64]:
accuracy_score(train_label, y_pred_train)

NameError: name 'y_pred_train' is not defined

In [65]:
accuracy_score(test_label, y_pred)

NameError: name 'y_pred' is not defined

In [70]:
txt='Factbox: Trump on Twitter (Dec 28) - Vanity Fair, Hillary Clinton'

In [71]:
news=clean_row(txt)

In [72]:
news

'factbox trump twitter dec vanity fair hillary clinton'

In [73]:
pred=clf.predict(vectorizer.transform([news].toarray()))

AttributeError: 'list' object has no attribute 'toarray'

In [74]:
pred

NameError: name 'pred' is not defined

In [76]:
txt=input("enter news")
news=clean_row(str(txt))
pred=clf.predict(vectorizer.transform([news].toarray()))

enter newsFactbox: Trump on Twitter (Dec 28) - Vanity Fair, Hillary Clinton

AttributeError: 'list' object has no attribute 'toarray'

In [76]:
if pred==0:
    print('news is correct')
else:
    print('the news is fake!')

NameError: name 'pred' is not defined